.sectionGlobal {
	width: 100%;
	margin: 3rem 0rem 2rem 0;
	padding: 0.5rem 4rem;
	background-color: white;
	@media screen and (max-width: 760px) {
		margin: 0;
	}
}

.sectionContainer {
	display: flex;
	flex-direction: column;
}

.sectionInfo {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 1.2rem;
	margin-top: 1rem;
	@media screen and (max-width: 760px) {
		flex-direction: column;
	}
}

.paragraphs {
	width: 60%;
	text-align: justify;
	line-height: 1.5rem;
	margin: auto 0;
	@media screen and (max-width: 760px) {
		width: 100%;
	}
}

.sectionImage {
	width: 30%;
	margin: auto 0;
	@media screen and (max-width: 760px) {
		display: none;
	}
}

.buttonStyle {
	width: fit-content;
	margin-top: 1.5rem;
	@media screen and (max-width: 760px) {
		width: auto;
	}
}

.left {
	flex-direction: row-reverse;
	@media screen and (max-width: 760px) {
		flex-direction: column;
	}
}

.imageButton-style {
	display: flex;
	flex-direction: column;
	align-items: center;
}
