/*
=============== 
Variables
===============
*/

:root {
	--clr-white: #fff;
	--clr-gold: #c59d5f;

	--clr-black: #222;
	--transition: all 0.3s linear;
	--spacing: 0.1rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--max-width: 1170px;
	--fixed-width: 620px;
}

.sermonContainer {
	padding: 5rem 0;
	@media screen and (max-width: 760px) {
		display: flex;
		flex-direction: column;
	}
}

.sermonArchivum {
	margin-top: 5rem;
	@media screen and (max-width: 760px) {
		margin-top: 0;
		display: flex;
		flex-direction: column;
	}
}

.sermon-title {
	text-align: center;
	margin-bottom: 2rem;
}
.underline {
	width: 10rem;
	height: 0.25rem;
	background: var(--clr-gold);
	margin: 1rem auto 1rem auto;
}
.btn-container {
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
}
.filter-btn {
	background: transparent;
	border-color: transparent;
	font-size: 1.2rem;
	text-transform: capitalize;
	margin: 0 0.5rem;
	letter-spacing: 0.5px;
	padding: 0.375rem 0.75rem;
	color: var(--clr-gold);
	cursor: pointer;
	transition: var(--transition);
	border-radius: var(--radius);
	font-weight: 700;
}
.filter-btn:hover {
	background: var(--clr-gold);
	color: var(--clr-white);
}

.sermon-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	max-width: 33rem;
	padding: 0.5rem;
	margin-bottom: 1.2rem;
}

.item-info {
	display: flex;
	flex-direction: column;
	padding-left: 0.5rem;
}

.item-info header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0.5rem 0 0 0.5rem;
}
.sermonInfo {
	color: var(--clr-gold);
	font-size: 1rem;
}

.padding {
	padding: 0 0.7rem 0 0;
}

.justFlexRow {
	display: flex;
	flex-direction: row;
}

.sermon-text {
	padding: 0 0.1rem 00.5rem 0.5rem;
}

.fb-link {
	padding-left: 1rem;
	width: 15.5rem;
}

.archivumContainer {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0 1rem;
	height: auto;

	& h3 {
		color: var(--clr-gold);
		text-align: center;
		padding: 1rem 0 0.5rem 0;
	}
	@media screen and (max-width: 760px) {
		display: flex;
		flex-direction: column;
	}
}

.left-side {
	width: 20%;
	padding-left: 5rem;
}

.right-side {
	width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0 3rem;
	&:after {
		content: "";
		flex: auto;
	}
}

.left-aligned {
	text-align: left;
	padding-left: 1rem;
	margin-bottom: 0.2rem;
}

[type="checkbox"] {
	vertical-align: middle;
}

.checkboxLabel {
	padding-left: 0.5rem;
}

.pastorImageHolder {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

@media screen and (min-width: 1200px) {
	.section-center {
		width: 95vw;
		grid-template-columns: 1fr 1fr;
	}
}
